
@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<partial name="ListaObjetoEscuela">

<p><i>@ViewBag.fecha</i></p>

