@model Asignatura

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<strong>Desde la vista normal</strong>
<p>Nombre : @Model.Nombre <br/>
   Nombre : @Model.UniqueId </p>

<strong>Desde la vista normal</strong>
<partial name="AsignaturaSimple">
<p><i>@ViewBag.fecha</i></p>

